<!-- Example row of columns -->
<div class="row">
	<div class="col-md-4">
		<a href="javascript:navigateToComments(0)">
			<h2>
				<%= classTitles[0] %>
			</h2>
			<p>
				<%= classDescriptions[0]%>
			</p>
			<p>
				<img name="ratingImage0" src="<%= imageUrls[0] %>" />
			</p>
			<p>
				<a href="javascript:navigateToComments(0)">
					COMMENTS:
					<%= commentCounts[0] %>
				</a>
			</p>
		</a>
	</div>
	<div class="col-md-4">
		<a href="javascript:navigateToComments(1)">
			<h2>
				<%= classTitles[1] %>
			</h2>
			<p>
				<%= classDescriptions[1]%>
			</p>
			<p>
				<img name="ratingImage0" src="<%= imageUrls[1] %>" />
			</p>
			<p>
				<a href="javascript:navigateToComments(1)">
					COMMENTS:
					<%= commentCounts[1] %>
				</a>
			</p>
		</a>
	</div>
	<div class="col-md-4">
		<a href="javascript:navigateToComments(2)">
			<h2>
				<%= classTitles[2] %>
			</h2>
			<p>
				<%= classDescriptions[2]%>
			</p>
			<p>
				<img name="ratingImage0" src="<%= imageUrls[2] %>" />
			</p>
			<p>
				<a href="javascript:navigateToComments(2)">
					COMMENTS:
					<%= commentCounts[2] %>
				</a>
			</p>
		</a>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<a href="javascript:navigateToComments(3)">
			<h2>
				<%= classTitles[3] %>
			</h2>
			<p>
				<%= classDescriptions[3]%>
			</p>
			<p>
				<img name="ratingImage0" src="<%= imageUrls[3] %>" />
			</p>
			<p>
				<a href="javascript:navigateToComments(3)">
					COMMENTS:
					<%= commentCounts[3] %>
				</a>
			</p>
		</a>
	</div>
	<div class="col-md-4">
		<a href="javascript:navigateToComments(4)">
			<h2>
				<%= classTitles[4] %>
			</h2>
			<p>
				<%= classDescriptions[4]%>
			</p>
			<p>
				<img name="ratingImage0" src="<%= imageUrls[4] %>" />
			</p>
			<p>
				<a href="javascript:navigateToComments(4)">
					COMMENTS:
					<%= commentCounts[4] %>
				</a>
			</p>
		</a>
	</div>
	<div class="col-md-4">
		<a href="javascript:navigateToComments(5)">
			<h2>
				<%= classTitles[5] %>
			</h2>
			<p>
				<%= classDescriptions[5]%>
			</p>
			<p>
				<img name="ratingImage0" src="<%= imageUrls[5] %>" />
			</p>
			<p>
				<a href="javascript:navigateToComments(5)">
					COMMENTS:
					<%= commentCounts[5] %>
				</a>
			</p>
		</a>
	</div>
</div>